/* -------------------------------------------------------- COLOUR VARS */
/* -------------------------------------------------------- FONT VARS */
/* -------------------------------------------------------- UNIVERSAL SELECTORS */
/* Selects every element on the page and applies these declarations */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* -------------------------------------------------------- HTML */
html {
  box-sizing: border-box;
  /* Making the root font size 10px makes it much easier to convert all the rest of measure units into rem. Default font size is 16px (100%), so 10px is 62.5% */
  font-size: 62.5%; }

/* -------------------------------------------------------- BODY */
body {
  padding: 30px; }

/* -------------------------------------------------------- CONTAINER */
.container {
  display: grid;
  grid-template-rows: 90vh min-content; }

/* -------------------------------------------------------- BODY */
body {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #a60b0b; }

.btn-link {
  backface-visibility: hidden; }
  .btn-link:link, .btn-link:visited {
    font-family: "Roboto Slab", serif;
    font-size: 3rem;
    font-weight: 900;
    color: currentColor;
    margin: 4rem;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid currentColor;
    transition: all 0.5s;
    animation: moveInBottom 2s ease; }
  .btn-link:hover {
    background-color: #5e0606;
    color: #996700;
    box-shadow: 0 1rem 2rem rgba(94, 6, 6, 0.5);
    transform: translateY(-0.8rem); }
  .btn-link:active {
    box-shadow: 0 0.5rem 1rem rgba(94, 6, 6, 0.5);
    transform: translateY(0); }

/* -------------------------------------------------------- KEYFRAMES */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.features {
  background-color: #fff6e5; }

/* -------------------------------------------------------- HEADER */
.header {
  position: relative;
  font-family: "Sancreek", cursive;
  color: #5e0606;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(153, 103, 0, 0.8), rgba(230, 155, 0, 0.8)), url(../img/paella.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: auto;
  /* -------------------------------------------- HEADER BOX */
  /* --------------------------------------- LOGO */
  /* --------------------------------------- HEADING */
  /* -------------------------------------------- LINKS */ }
  .header__box {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-self: flex-end; }
  .header__logo {
    height: 15rem;
    top: 20px;
    left: 40px;
    align-self: center;
    justify-self: right; }
  .header__heading {
    text-transform: uppercase;
    justify-self: left;
    /* --------------------------- MAIN */
    /* --------------------------- SUB */ }
    .header__heading--main {
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 2rem;
      margin-left: 1rem; }
    .header__heading--small {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      column-gap: 1.5rem;
      align-items: center;
      font-size: 2rem; }
      .header__heading--small::before, .header__heading--small::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor; }
    .header__heading--sub {
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: 1rem; }
  .header__links {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-self: center; }
