/* -------------------------------------------------------- COLOUR VARS */
$color-primary-dark: #5e0606; // Dark crimson
$color-primary-light: #a60b0b; // Light crimson

$color-secondary-dark: #996700; // Dark gold
$color-secondary-light: #e69b00; // Light gold

$color-background-light: #fff6e5; // Light off-white
$color-background-dark: #ffca5d; // Light off-white

/* -------------------------------------------------------- FONT VARS */
$font-primary: "Roboto Slab", serif;
$font-display: "Sancreek", cursive;
