/* -------------------------------------------------------- COLOUR VARS */
$color-primary-dark: #5e0606; // Dark crimson
$color-primary-light: #a60b0b; // Light crimson

$color-secondary-dark: #996700; // Dark gold
$color-secondary-light: #e69b00; // Light gold

/* -------------------------------------------------------- FONT VARS */
$font-primary: "Roboto Slab", serif;
$font-display: "Sancreek", cursive;
