/* -------------------------------------------------------- COLOUR VARS */
$color-primary-dark: #5e0606; // Dark crimson
$color-primary-light: #a60b0b; // Light crimson

$color-secondary-dark: #996700; // Dark gold
$color-secondary-light: #e69b00; // Light gold

$color-background-light: #9967004d; // Color seconday light 0.3
$color-background-dark: #a60b0b4d; // Color primay dark 0.3

/* -------------------------------------------------------- FONT VARS */
$font-primary: "Roboto Slab", serif;
$font-display: "Sancreek", cursive;

/* -------------------------------------------------------- MARGIN VARS */
$footer-gap-margin: 2rem;
