/* -------------------------------------------------------- HEADER */
.header {
	position: relative;
	font-family: $font-display;
	color: $color-primary-dark;
	text-transform: uppercase;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	// height: 90vh;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-secondary-dark, 0.8),
			rgba($color-secondary-light, 0.8)
		),
		url(../img/paella.jpg);
	background-size: cover;
	background-position: center;

	display: grid;
	grid-template-rows: auto;

	/* -------------------------------------------- HEADER BOX */
	&__box {
		display: grid;
		grid-template-columns: repeat(2, auto);
		align-self: flex-end;
	}

	/* --------------------------------------- LOGO */
	&__logo {
		height: 15rem;
		top: 20px;
		left: 40px;
		justify-self: right;
	}

	/* --------------------------------------- HEADING */
	&__heading {
		justify-self: left;
		/* --------------------------- MAIN */
		&--main {
			font-size: 6rem;
			font-weight: 400;
			letter-spacing: 2rem;
			margin-left: 1rem;
		}

		/* --------------------------- SUB */
		&--sub {
			font-size: 4rem;
			font-weight: 700;
			letter-spacing: 1rem;
		}
	}

	/* -------------------------------------------- LINKS */
	&__links {
		display: grid;
		grid-template-columns: repeat(3, auto);
		align-self: center;

		&--btn {
			font-size: 2rem;
			margin: 4rem;
		}
	}
}
