/* -------------------------------------------------------- GLOBAL RESET */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/* -------------------------------------------------------- HTML */
html {
	box-sizing: border-box;
	/* Making the root font size 10px makes it much easier to convert all the rest of measure units into rem. Default font size is 16px (100%), so 10px is 62.5% */
	// Defines what 1rem is
	font-size: 62.5%; // 1rem = 10px
}

/* -------------------------------------------------------- BODY */
body {
	font-family: $font-primary;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1.6;
	color: $color-primary-light;
	padding: 30px;
}

/* -------------------------------------------------------- HEADER */
.header {
	position: relative;
	height: 90vh;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-secondary-dark, 0.8),
			rgba($color-secondary-light, 0.8)
		),
		url(../img/paella.jpg);
	background-size: cover;
	background-position: center;

	/* ----------------------------------------- LOGO-BOX */
	&__logo-box {
		top: 20px;
		left: 40px;

		position: absolute;
	}
	/* ----------------------------------------- LOGO */
	&__logo {
		height: 15rem;
	}

	/* ----------------------------------------- TEXT-BOX */
	&__text-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

/* ----------------------------------------- HEADING-PRIMARY */
.heading-primary {
	font-family: $font-display;
	color: $color-primary-dark;
	text-transform: uppercase;

	/* -------------------------- MAIN */
	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 2rem;
		text-align: center;
	}

	/* -------------------------- SUB */
	&--sub {
		display: block;
		font-size: 4rem;
		font-weight: 700;
		letter-spacing: 1rem;
	}
}
