.features {
	grid-row: 4 / 5;
	grid-column: center-start / center-end;

	padding: 10rem 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 6rem;
	align-items: flex-start;

	/* ----------------------------- @MEDIA */
	@include respond(fourk) {
		grid-column: full-start / full-end;
		font-size: 3rem;
		margin: 0 5rem;
	}

	@include respond(xl) {
		font-size: 2rem;
	}

	@include respond(laptop) {
		padding: 8rem 0;
	}

	@include respond(tab-por) {
		padding: 6rem 0;
	}

	@include respond(xs) {
		grid-column: full-start / full-end;
	}
}

////////////////////////////////////////// FEATURE
.feature {
	display: grid;
	grid-template-columns: min-content 1fr;
	row-gap: 1.5rem;
	column-gap: 1.5rem;

	&__icon {
		fill: $color-primary;
		width: 5rem;
		height: 5rem;
		grid-row: 1 / span 2;
	}

	&__heading {
		text-decoration: underline;
	}

	&__text {
		font-weight: 400;
	}
}
