.footer {
	background-color: $color-primary-dark;
	color: $color-secondary-light;
	grid-column: left-start / right-end;
	padding: 8rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;

	&__social {
		font-size: 1.6rem;
		list-style-type: none;

		h3::after {
			content: "";
			height: 1px;
			width: 50%;
			margin-left: 25%;
			display: block;
			background-color: currentColor;
		}

		&--item {
			font-weight: 400;
			margin-top: 2rem;

			position: relative;

			&::after {
				content: "";
				height: 1px;
				width: 50%;
				margin-left: 25%;
				display: block;
				background-color: currentColor;
				transform: scaleX(0);
			}

			&:hover::after {
				transform: scaleX(1);
			}
		}

		&--link {
			position: relative;

			&:link,
			&:visited {
				text-decoration: none;
				color: currentColor;
			}
		}

		&--icon {
			height: 1.6rem;
			width: 1.6rem;
			fill: currentColor;
			margin-right: 2rem;
		}
	}
}
