/* -------------------------------------------------------- HEADER */
.header {
	grid-column: full-start / full-end; // Leaves 3rem gap at edges
	grid-row: 1 / 2;
	font-family: $font-display;
	color: $color-primary;
	text-align: center;
	background-image: linear-gradient(
			to right bottom,
			rgba($color-secondary-dark, 0.8),
			rgba($color-secondary-light, 0.8)
		),
		url(../img/paella.jpg);
	background-size: cover;
	background-position: center; // Makes image always centered on all screen sizes
	position: relative;

	display: grid;
	grid-template-rows: auto;

	/* ----------------- @MEDIA */
	@include respond(tab-por) {
		grid-column: left-start / right-end; // Makes header take full vw
	}

	/* -------------------------------------------- HEADER BOX */
	&__box {
		display: grid;
		grid-template-columns: repeat(2, auto);
		align-self: flex-end; // Brings contents to bottom of row, looking centered in header

		/* ----------------- @MEDIA */
		@include respond(tab-por) {
			align-self: center; // Places box in center of header after removing button links
			padding-right: 1rem;
		}
	}

	/* --------------------------------------- LOGO */
	&__logo {
		height: 15rem;
		align-self: center;
		justify-self: right; // Brings logo to center of header

		@include respond(xl) {
			height: 25rem;
		}
	}

	/* --------------------------------------- HEADING */
	&__heading {
		text-transform: uppercase;
		justify-self: left; // Brings heading to center of header
		/* --------------------------- MAIN */
		&--main {
			font-size: 6rem;
			font-weight: 400;
			letter-spacing: 2rem;
			margin-left: 1rem;

			/* ------------------------------ @MEDIA */
			@include respond(xl) {
				font-size: 9rem;
			}

			@include respond(desktop) {
				font-size: 5rem;
			}

			@include respond(mobile) {
				font-size: 4rem;
				letter-spacing: 1rem;
			}
		}
		/* --------------------------- SMALL */
		&--small {
			font-size: 2rem;

			display: grid;
			grid-template-columns: 1fr max-content 1fr;
			column-gap: 1.5rem;
			align-items: center;

			&::before,
			&::after {
				content: "";
				height: 1px;
				display: block;
				background-color: currentColor;
			}

			/* --------------- @MEDIA */
			@include respond(xl) {
				font-size: 3rem;
			}

			@include respond(desktop) {
				font-size: 1rem;
			}
		}

		/* --------------------------- SUB */
		&--sub {
			font-size: 4rem;
			font-weight: 700;
			letter-spacing: 1rem;

			/* ----------------- @MEDIA */
			@include respond(xl) {
				font-size: 6rem;
			}

			@include respond(desktop) {
				font-size: 3rem;
			}

			@include respond(mobile) {
				font-size: 3rem;
				letter-spacing: normal;
			}
		}
	}

	/* -------------------------------------------- LINKS */
	&__links {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-self: center;

		/* ----------------- @MEDIA */
		@include respond(tab-por) {
			display: none; // Remove button links for smaller screens
		}
	}
}
