.menus {
	/* -------------------------------------------- CONTENT */
	&__content {
		grid-column: full-start / col-end 5;
		padding: 6rem 8vw;

		/* ------------------------------------- TEXT */
		&--text {
			font-weight: 500;
			margin-top: 2rem;
		}
	}

	/* -------------------------------------------- LINKS */
	&__links {
		text-align: center;
		display: grid;
		grid-template-columns: repeat(2, auto);

		/* ------------------------------------- LINK */
		&--link {
			font-size: 2rem;
			font-weight: 600;
			color: currentColor;
			text-decoration: none;
			margin-top: 3rem;

			position: relative;

			&:link,
			&:visited {
				text-decoration: none;
				color: currentColor;
			}

			/* ------------------------- AFTER */
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 70%;
				margin-left: 15%; // Centres underline
				height: 2px;
				background-color: currentColor;
				transition: opacity 300ms, transform 300ms;
				opacity: 1;
				transform: scale(0);
				transform-origin: center;
			}

			&:focus::after,
			&:hover::after {
				transform: scale(1);
			}
		}
	}
	/* -------------------------------------------- IMAGE */
	&__picture {
		grid-column: col-start 6 / full-end;
		padding-top: 1.5rem; // To replicate gap with gallery section
	}

	&__img {
		width: 100%;
	}
}
