.menus {
	/* -------------------------------------------- CONTENT */
	&__content {
		grid-column: full-start / col-end 5;
		padding: 6rem 8vw;

		/* ----------------- @MEDIA */

		@include respond(fourk) {
			padding: 8rem 8vw;
		}
		// Makes section take full width after removing picture
		@include respond(tablet) {
			grid-column: full-start / full-end;
		}

		@include respond(mob-por) {
			padding-bottom: 2rem;
		}

		/* ------------------------------------- TEXT */
		&--text {
			font-weight: 500;
			margin-top: 2rem;

			/* --------------- @MEDIA */
			@include respond(fourk) {
				margin-top: 4rem;
				font-size: 3.5rem;
			}

			@include respond(xl) {
				font-size: 2.2rem;
			}

			@include respond(laptop) {
				font-size: 2rem;
			}

			@include respond(mob-por) {
				font-size: 1.6rem;
			}
		}
	}

	/* -------------------------------------------- LINKS */
	&__links {
		text-align: center;
		display: grid;
		grid-template-columns: repeat(2, auto);

		/* ------------------------------------- LINK */
		&--link {
			font-size: 2.5rem;
			font-weight: 600;
			color: currentColor;
			text-decoration: none;
			margin-top: 5.5rem;
			position: relative;

			/* ------------------------- @MEDIA */
			@include respond(fourk) {
				font-size: 4.5rem;
				margin-top: 9rem;
			}

			@include respond(xl) {
				font-size: 3.5rem;
				margin-top: 5rem;
			}

			@include respond(mob-por) {
				font-size: 2.2rem;

				&:last-child {
					margin-top: 2rem; // Reduces gap between links as they are on top of each other
				}
			}

			@include respond(xs) {
				font-weight: 800;
			}

			&:link,
			&:visited {
				text-decoration: none;
				color: currentColor;
			}

			/* ------------------------- AFTER */
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 90%;
				margin-left: 5%; // Centres underline
				height: 2px;
				background-color: currentColor;
				transition: opacity 300ms, transform 300ms;
				opacity: 1;
				transform: scale(0);
				transform-origin: center;
			}

			&:focus::after,
			&:hover::after {
				transform: scale(1);
			}

			&:visited::after {
				transform: scale(0);
			}
		}

		/* --------------------------- @MEDIA */
		// Places links on 2 rows one on top of the other
		@include respond(mob-por) {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
		}
	}
	/* -------------------------------------------- IMAGE */
	&__picture {
		grid-column: col-start 6 / full-end;
		padding-top: 1.5rem; // To replicate gap with gallery section

		/* ----------------------------- @MEDIA */
		// Removes picture leaving real state for content
		@include respond(tablet) {
			display: none;
		}
	}

	&__img {
		max-width: 100%;
		min-height: 100%;

		/* ----------------------------- @MEDIA */
		@include respond(desktop) {
			object-fit: cover;
		}
	}
}
