/* -------------------------------------------------------- BTN LINK */
.btn-link {
	backface-visibility: hidden;

	&:link,
	&:visited {
		font-family: $font-primary;
		font-size: 3rem;
		font-weight: 900;
		color: currentColor;
		margin: 4rem;
		text-decoration: none;
		display: inline-block;
		border-bottom: 1px solid currentColor;

		transition: all 0.5s;

		animation: moveInBottom 2s ease;

		/* --------------------------- @MEDIA */
		@include respond(fourk) {
			font-size: 6rem;
		}

		@include respond(xl) {
			font-size: 4rem;
		}
	}

	&:hover {
		background-color: $color-primary;
		color: $color-secondary-dark;
		box-shadow: 0 1rem 2rem rgba($color-primary, 0.5);
		transform: translateY(-0.8rem);
	}

	&:active {
		box-shadow: 0 0.5rem 1rem rgba($color-primary, 0.5);
		transform: translateY(0);
	}
}

/* -------------------------------------------------------- MENUS LINK */
.menus__links--link {
}
/* -------------------------------------------------------- KEYFRAMES */
@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
