/* -------------------------------------------------------- UNIVERSAL SELECTORS */
/* Selects every element on the page and applies these declarations */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/* -------------------------------------------------------- HTML */
html {
	box-sizing: border-box;
	/* Making the root font size 10px makes it much easier to convert all the rest of measure units into rem. Default font size is 16px (100%), so 10px is 62.5% */
	// Defines what 1rem is
	font-size: 62.5%; // 1rem = 10px
}

/* -------------------------------------------------------- BODY */
body {
	padding-top: 30px;
	background-image: linear-gradient(
			$color-background-light,
			$color-background-light
		),
		url(../../img/arab_tile/arab_tile_@2X.png);
}

/* -------------------------------------------------------- CONTAINER */
.container {
	display: grid;
	grid-template-rows: 90vh repeat(5, min-content);
	grid-template-columns:
		[left-start] 3rem [left-end full-start] 1fr [center-start] repeat(
			8,
			[col-start] minmax(min-content, 14rem) [col-end]
		)
		[center-end]
		1fr [full-end right-start] 3rem [right-end];
}
