/* -------------------------------------------------------- BASIC RESET */
/*  Selects every element on the page and applies these declarations to make every browser display the page on the same way, removing the default margins and paddings of the browswer */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/* -------------------------------------------------------- HTML */
html {
	box-sizing: border-box;
	/* Making the root font size 10px makes it much easier to convert all the rest of measure units into rem. Default font size is 16px (100%), so 10px is 62.5% */
	// Defines what 1rem is
	font-size: 62.5%; // 1rem = 10px

	/* ---------------------------------- @MEDIA */
	@include respond(xl) {
		font-size: 75%; // 1rem = 12px
	}

	@include respond(desktop) {
		font-size: 56.25%; // 1rem = 9px
	}

	@include respond(laptop) {
		font-size: 50%; // 1rem = 8px
	}
}

/* -------------------------------------------------------- BODY */
body {
	padding-top: 3rem; // Matches the 3rem gap on each side of header
	background-image: linear-gradient(
			$color-background-light,
			$color-background-light
		),
		url(../../img/arab_tile/arab_tile_2X.png);

	/* ----------------- @MEDIA */
	@include respond(tablet) {
		padding-top: 0;
	}
}

/* -------------------------------------------------------- CONTAINER */
.container {
	display: grid;
	grid-template-rows: 90vh repeat(5, min-content);
	grid-template-columns:
		[left-start] 3rem [left-end full-start] minmax(6rem, 1fr)
		[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
		[center-end]
		minmax(6rem, 1fr) [full-end right-start] 3rem [right-end];

	/* ----------------------------- @MEDIA */
	@include respond(mob-lan) {
		grid-template-rows: 90vh repeat(5, min-content);
	}

	@include respond(mob-por) {
		grid-template-rows: 40vh repeat(5, min-content);
	}

	@include respond(xs) {
		grid-template-rows: 50vh repeat(5, min-content);
	}
}
