/* -------------------------------------------------------- BODY */
body {
	font-family: $font-primary;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1.6;
	color: $color-primary;
}

/* -------------------------------------------------------- HEADINGS */
%heading {
	font-weight: 700;
}

.section-heading {
	@extend %heading;

	font-size: 4rem;
	font-style: italic;
	text-align: center;
	text-decoration: underline;

	/* ----------------------------- @MEDIA */
	@include respond(laptop) {
		font-size: 3.5rem;
	}
}

.section-subtitle {
	font-size: 3rem;
	font-style: italic;
	text-align: center;
	margin-top: 1rem;

	/* ----------------------------- @MEDIA */
	@include respond(laptop) {
		font-size: 2.5rem;
	}
}
